.navbar-main {
    display: flex;
}

.menu-list {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
}

.menu-list a {
    text-decoration: none;
    color: black;
}

.menu-list a:hover {
    color: #8464EF;
}