/* Search.css */

.search-wrapper {
    height: 25px;
    width: 16%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #8464EF;
    border-radius: 20px;
    padding: 5px 5px 5px 10px;

}

.fa-search {
    margin-right: 10px;
    color: #888;
    /* Màu của biểu tượng tìm kiếm */
}

.search-wrapper input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

.search-wrapper input::placeholder {
    color: #666666;
}