/* #admin-table {
  margin: 0 auto;
  margin-top: 20px;
  background-color: transparent;
  border-collapse: collapse;
  width: 80%;
}

#admin-table th,
td {
  text-align: center;
  padding: 10px;
}

#admin-table thead tr {
  border-bottom: 1px solid #896BFF;
}

#admin-table tbody tr {
  border-bottom: 1px solid #896BFF;
}

#admin-table tbody tr:last-child {
  border-bottom: none;
} */