.admin-statistic-main {
    display: flex;
}

.page-content {
    padding: 0px 20px;
}

#admin-statistic-table {
    margin: 0 auto;
    margin-top: 20px;
    background-color: transparent;
    border-collapse: collapse;
    width: 100%;
}

#admin-statistic-table th,
td {
    font-size: 15px;
    text-align: center;
    padding: 10px 15px;
}

#admin-statistic-table thead,
tr {
    border-bottom: 1px solid #896BFF;
}

#admin-statistic-table tr:last-child {
    border-bottom: none;
}

#detail-btn {
    height: 28px;
    width: 60px;
    color: white;
    font-size: 13px;
    background-color: #624DE3;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#detail-btn:hover {
    border: 2px solid #8464ef;
    background-color: white;
    color: #8464ef;
    box-shadow: none;
}