.homepage-main {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0px 50px;
}

.left-side {
    width: 40%;
    padding: 10px 70px 10px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-side h1 {
    font-size: 2.5rem;
}

.right-side {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#system-name {
    color: #8464EF;
    display: block;
    font-size: 3.2rem;
    margin-bottom: 20px;
}

#description {
    color: #666666;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 50px;
}

#auction-img {
    border-radius: 20px;
    height: 450px;
}